<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Updated_at</th>
    <th></th>
  </tr>
  <% @posts.each do |post| %>
  <tr>
    <td><%=link_to post.title, post_path(post) %></td>
    <td><%= post.author %></td>
    <td><%= post.updated_at %></td>
    <td><%= link_to "Delete", post_path(post),
                    :method=>:delete, :confirm => "Are you sure?" %></td>
  </tr>
  <% end %>
</table>
